src/main/resources/META-INF/generator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://code.imadcn.com/schema/generator" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://code.imadcn.com/schema/generator"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
    
    <xsd:element name="snowflake">
    	<xsd:complexType>
    		<xsd:complexContent>
    			<xsd:extension base="beans:identifiedType">
    				<xsd:attribute name="registry-center-ref" type="xsd:string" use="required" />
    				<xsd:attribute name="group" type="xsd:string" default="default" />
    				<xsd:attribute name="registry-file" type="xsd:string" default=""/>
    				<xsd:attribute name="durable" type="xsd:boolean" default="false" />
                    <xsd:attribute name="serialize" type="xsd:string" default="fastjson" />
                    <xsd:attribute name="cachable" type="xsd:string" default="false" />
    			</xsd:extension>
    		</xsd:complexContent>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="compress-uuid" />
</xsd:schema>