src/main/resources/META-INF/snowflake.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://code.imadcn.com/schema/snowflake" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://code.imadcn.com/schema/canal"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />


    <xsd:element name="simple-connection">
	    <xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="base-connection-type">
		    		<xsd:attribute name="host" type="xsd:string" use="required" />
		    		<xsd:attribute name="port" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="zk-connection">
    	<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="base-connection-type">
		    		<xsd:attribute name="zk-servers" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="socket-connection">
    	<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="base-connection-type">
		    		<xsd:attribute name="socket-servers" type="xsd:string" use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
    </xsd:element>
    
	<xsd:element name="message-container">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="connection-factory" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[A reference to the Canal ConnectionFactory bean.]]></xsd:documentation>
	          				<xsd:appinfo>
		            			<tool:annotation kind="ref">
		              				<tool:expected-type type="com.imadcn.framework.canal.connection.ConnectionFactory"/>
		            			</tool:annotation>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="message-listener" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

    <xsd:complexType name="base-connection-type">
    	<xsd:complexContent>
    		<xsd:extension base="beans:identifiedType">
	    		<xsd:attribute name="destination" type="xsd:string" />
	    		<xsd:attribute name="username" type="xsd:string" />
	    		<xsd:attribute name="password" type="xsd:string" />
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>